if ARCH_AK3918AV130

config AK3918AV130
	bool "Enable AK3918AV130 support"

config ENV_64M
	bool "Enable 64M ENV support"

config ENV_128M
	bool "Enable 64M ENV support"

choice
	prompt "AK3918AV130 board select"
	optional

	config TARGET_ANYCLOUD_AK3918AV130
	bool "Support anycloud_ak3918av130"
	select CPU_ARM926EJS
	select SUPPORT_SPL

endchoice

config SYS_SOC
	default "ak3918av130"

source "board/anyka/anycloud_ak3918av130/Kconfig"

endif
