# SPDX-License-Identifier: GPL-2.0-only
# 
menu "Anyka SoC drivers"

config ANYKA_SOCINFO
	bool "Anyka SoC Information driver"
	select SOC_BUS
	help
	  Say yes to support decoding of Anyka SoC family
	  information about the type and version.

config ANYKA_FASTSYS
    bool "Support fast system"

endmenu
